{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <img src="{{ url_for('static', filename='fotos_perfil/imob.png') }}"  alt="Imagem Imob" style="width: 300px; height: auto;">
        <br>
        <h2> Entre em contato conosco:</h2><br>
        <br>
        <!-- Adicione a imagem antes do endereço -->


        <h3> Rua Coronel Ernesto Duprat, 335, São Mateus, São Paulo, SP</h3>
        <h4> (11) 2010-7447</h4>
        <h4> (11) 94778-9898</h4>
    </div>
{% endblock %}